* {
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}

/* Estilos para telas menores (até 768px de largura) */
@media screen and (max-width: 768px) {
    header {
        font-size: 36px;
    }

    nav {
        list-style: none;
        position: absolute;
    }


    article {
        width: 100%;
    }

    /* Adicione outras regras de estilo necessárias */
}

/* Estilos para telas maiores (acima de 768px de largura) */
@media screen and (min-width: 769px) {
    header {
        font-size: 60px;
    }

    nav {
        width: 30%;
    }

    article {
        width: 70%;
    }

    /* Adicione outras regras de estilo necessárias */
}


header {
    background-color: #9ca6b6;
    color: #2800ad;
    font-size: 60;
    text-align: left;
    display: flex;
}

.logo {
    left: 18px;
    position: absolute;
    top: 0;
    align-items: flex;
    border-radius: 45px;
}

.cidade {
    position: relative;
    right: 120px;
    color: #2e4d91;
}


.pagina {
    position: absolute;
    margin-top: -16;
    margin-left: 50;
}












/*COLUNA LINKS - ESUERDA*/
nav {
    background-color: #c1bbd1;
    padding: 10px;
    height: 750px;
    width: auto;
}

.coluna-links {
    position: absolute;
}


.menu {
    background-color: #e4e4e4;
    font-family: Verdana;
    padding: 1px;
    list-style: none;
    color: #fff;
}

ul {
    list-style-type: none;
    background-color: #e4e4e4;
    width: 363px;
    padding-left: 1px;
}

li a {
    color: #43453a;
    display: block;
    height: 30px;
    padding-left: 10px;
    position: relative;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

li a:hover {
    background-color: #2e4d91;
    color: #ffffff;
}

.caixa {
    background-color: #999999;
    width: 30;
    color: #ffffff;
    text-align: center;
    position: absolute;
    left: 313px;
    top: 6px;
    font-weight: bold;
    font-size: 14;
}





















/*PÁGINA CENTRAL*/

article {
    background-color: #e4e4e4;
    position: relative;
    right: -189px;
    height: 750px;
    padding: 10;
}

.div-principal{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bg-promocao {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 585px;
    width: 830px;
    background-color: #c1bbd1;
    border-radius: 7px;
    color: #43453a;
    font-weight: bold;
    z-index: 1;
}

.caixa-formulario {
    position: relative;
    right: -186px;
    top: -252px;
    background-color: #c1bbd1;
    border-style: solid;
    padding: 15px;
    border-radius: 18px;
    opacity: 0.75;
    border-width: 2;
}

.inputs {
    border-radius: 10px;
    border-color: #2800ad;
    border-style: solid 2px;
}

input[name=botao-limpar-form] {
    background-color: #4202f3;
    border: none;
    border-radius: 15px;
    color: #ffffff;
    height: 23;
    cursor: pointer;
    width: 140px;
}
input[name=botao-enviar-form] {
    background-color: #4202f3;
    border: none;
    border-radius: 15px;
    color: #ffffff;
    height: 23;
    cursor: pointer;
    width: 140px;
}

.atendimento {
    position: relative;
    top: 230px;
    width: 665;
    border-radius: 17px;
    opacity: 0.5;
    left: -49px;
    height: 482;
}

.titulo {
    text-decoration: underline;
    position: relative;
    top: 10px;
}


.titulo2 {
    color: #30312d;
    font-weight: bold;
    padding-top: 30;
}

.redes-sociais {
    position: relative;
    display: flex;
    padding: 10px;
}

.twitter {
    position: relative;
    right: -8px;
}













/*RODA PÉ*/
footer {
    clear: both;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 15px;
    
}

.divs-footer {
    display: inline-flex;
}

.material-icons {
    position: relative;
    left: 12px;

}


.icone-botao {
    background-color: #ff5e00;
    width: 0;
    display: inline-block;
    padding: -44px;
    position: relative;
    left: -160px;
}


input[name=botao-enviar-rodape] {
    background-color: #4202f3;
    border: none;
    border-radius: 15px;
    color: #ffffff;
    position: relative;
    right: -120px;
    margin-top: -90;
    height: 23;
    cursor: pointer;
    width: 140px;
}

input[name=text-e-mail-rodapé] {
    text-align: center;
    font-style: italic;
    background-color: #e4e4e4;
    border: 1;
    border-radius: 15px;
    color: #000000;
    font-size: 16;
    padding: 3px 40px 0px 40px;
    position: relative;
    left: -15px;
    margin-top: 10px;
    height: 20;
}

input[type=text] {
    font-style: italic;
}

input:hover {
    background-color: #b2a0e5;
    color: #161616;
}

.div1 {
    border-right-style: solid;
    border-width: thin;
    height: 120;
}

.inscreva-se {
    position: relative;
    color: #ffffff;
    font-weight: 700;
    font-size: 18px;
    font-family: courier;
}

.roda-pé-caixa-de-inscricao a {
    color:rgb(226, 226, 98)
}

.roda-pé-caixa-de-inscricao {
    margin-left: 10px;
}

.copyright {
    color: #2800ad;
    background-color: #9ca6b6;
    text-align-last: center;
    font-style: italic;
    margin-top: 23px;
}

