* {
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}

/* Estilos para telas menores (até 768px de largura) */
@media screen and (max-width: 768px) {
    header {
        font-size: 36px;
    }

    nav {
        list-style: none;
        position: absolute;
    }


    article {
        width: 100%;
    }

    /* Adicione outras regras de estilo necessárias */
}

/* Estilos para telas maiores (acima de 768px de largura) */
@media screen and (min-width: 769px) {
    header {
        font-size: 60px;
    }

    nav {
        width: 30%;
    }

    article {
        width: 70%;
    }

    /* Adicione outras regras de estilo necessárias */
}

header {
    background-color: #9ca6b6;
    color: #2800ad;
    font-size: 60;
    text-align: left;
    display: flex;
}

.logo {
    left: 18px;
    position: absolute;
    top: 0;
    align-items: flex;
    border-radius: 45px;
}

.cidade {
    position: relative;
    right: 120px;
    color: #2e4d91;
}

.titulo {
    text-align: center;
    position: absolute;
    top: 98px;
    right: 340px;
    text-decoration: underline;
    color: #43453a;
    font-size: 18;
}

.nome-empresa {
    position: relative;
    right: 110;
}






/*NAVEGAÇÃO*/
nav {
    background-color: #c1bbd1;
    padding: 8px;
    height: 750px;
    width: 30%;
    float: left;
    list-style: none;
}

.pagina {
    position: absolute;
    margin-top: -16;
    margin-left: 50;
}



.menu {
    background-color: #e4e4e4;
    font-family: Verdana;
    padding: 1px;
    list-style: none;
    color: #fff;
}

ul {
    list-style-type: none;
    background-color: #e4e4e4;
    width: 363px;
    padding-left: 1px;
}

li a {
    color: #43453a;
    display: block;
    height: 30px;
    padding-left: 10px;
    position: relative;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

li a:hover {
    background-color: #2e4d91;
    color: #ffffff;
}

.bg-promocao-3 a:hover {
    color: #4202f3;
}

.bg-promocao-3 a:link {
    color: #2c2c29;
}

.bg-promocao-3 a:active {
    color: #ffffff;
}

a:visited {
    color: #2c2929;
}

.material-icons {
    position: relative;
    top: 5px;
    left: 10px;
}

.caixa {
    background-color: #999999;
    width: 30;
    color: #ffffff;
    text-align: center;
    position: absolute;
    left: 313px;
    top: 6px;
    font-weight: bold;
    font-size: 14;
}








/*CENTRAL*/
article {
    background-color: #e4e4e4;
    right: -190px;
    width: 70%;
    float: left;
    height: 750px;
    padding: 15;
}

.tres-bgs {
    position: absolute;
    display: inline-block;
}

.bg-promocao-1 {
    color: #43453a;
    background-color: #c1bbd1;
    padding: 15px;
    height: auto;
    width: auto;
    border-radius: 7px;
    margin-right: 15px;
    margin-bottom: 10px;
}

.texto-origem {
    display: inline-block;
}



.bg-promocao-2 {
    height: auto;
    width: auto;
    background-color: #c1bbd1;
    border-radius: 7px;
    color: #43453a;
    font-weight: bold;
    height: auto;
    margin-right: 15px;
    margin-bottom: 10px;
}


.grid-origem-destino {
    display: grid;
    grid-template-columns: repeat(2, 200px);
    grid-row-gap: 30px;
    margin-top: 15;
    margin-left: 35;
}

.grid-classe {
    display: grid;
    grid-template-columns: repeat(2, 200px);
    border-top: 3px solid white;
    width: 510px;
    margin-top: 40;
    position: relative;
    left: -190px;
}

.coluna-datas {
    display: grid;
    grid-row-gap: 15px;
    align-items: start;
    padding-top: 10px;
}

.origem-datas {
    display: inline-flex;
}


.nome-adulto-passaporte {
    display: inline-flex;
    grid-column: span 2;
}

.inputs-passageiro-adulto {
    display: inline-flex;
    margin-top: 1.5px;
}

.box-classe-adulto {
    padding: 25;
    top: -10px;
    display: inline-block;
}

.passageiro-menor {
    width: 252px;
    position: relative;
    top: 10;
    left: 20;
}

.bloco-origem {
    display: inline-block;
}

/*sets inputs e botões*/
.origem-input,
.data-volta,
.data-ida,
.destino-input,
.input-nome-adulto,
.input-numero-passaporte-adulto,
#classe-passagem,
#status {
    background-color: #ffffff;
    border: revert;
    border-radius: 15px;
    color: #2c2c29;
    border-color: #4202f3;
    cursor: pointer;
}

button {
    background-color: #4202f3;
    border: none;
    border-radius: 15px;
    color: #ffffff;
    cursor: pointer;
    width: 30;
}

.botao-buscar {
    background-color: #4202f3;
    border-radius: 15px;
    color: #ffffff;
    cursor: pointer;
    width: 140px;
    height: 30;
    position:absolute;
    margin-left: 20px;
}







.titulo-bg2 {
    font-weight: bold;
    color: #121312;
}

.passagens-nordeste,
.pacotes-de-viagens,
.hospedagens-baratas,
.promova-seu-negocio {
    border-right-style: solid;
    border-width: thin;
    border-color: #2c2c29;
    margin-right: 5px;
}


.bg-promocao-3 {
    border-radius: 10px;
    background: #c1bbd1;
    height: auto;
    width: auto;
    display: inline-flex;
    padding: 15px;
    margin-right: 15px;
}









/*RODA PÉ*/
footer {
    clear: both;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 15px;
    
}

.divs-footer {
    display: inline-flex;
}

.material-icons {
    position: relative;
    left: 12px;

}

.material-icons.roda-pé-caixa-de-inscricao {
    color: chartreuse;
}

.icone-botao {
    background-color: #ff5e00;
    width: 0;
    display: inline-block;
    padding: -44px;
    position: relative;
    left: -160px;
}


input[name=botao-enviar-rodape] {
    background-color: #4202f3;
    border: none;
    border-radius: 15px;
    color: #ffffff;
    position: relative;
    right: -120px;
    margin-top: -90;
    height: 23;
    cursor: pointer;
    width: 140px;
}

input[name=text-e-mail-rodapé] {
    text-align: center;
    font-style: italic;
    background-color: #e4e4e4;
    border: 1;
    border-radius: 15px;
    color: #000000;
    font-size: 16;
    padding: 3px 40px 0px 40px;
    position: relative;
    left: -15px;
    margin-top: 10px;
    height: 20;
}

input[type=text] {
    font-style: italic;
}

input:hover {
    background-color: #b2a0e5;
    color: #161616;
}

.div1 {
    border-right-style: solid;
    border-width: thin;
    height: 120;
}

.inscreva-se {
    position: relative;
    color: #ffffff;
    font-weight: 700;
    font-size: 18px;
    font-family: courier;
}

.roda-pé-caixa-de-inscricao a {
    color:rgb(226, 226, 98)
}

.roda-pé-caixa-de-inscricao {
    margin-left: 10px;
}

.copyright {
    color: #2800ad;
    background-color: #9ca6b6;
    text-align-last: center;
    font-style: italic;
    margin-top: 23px;
}